<div class="class" ng-repeat="(className, events) in container">
  <div class="classTitle">
    {{className}}
  </div>
  <div class="classDescription">
    <div class="assignment" ng-repeat="assignment in events">
      <div class="assignmentHeader">
        <span class="assignmentTitle ">
          {{assignment.title}}
        </span>
        <!-- placeholder for listing the associated files -->
      </div>
      <div class="assignmentDescription">
        {{assignment.description}}
      </div>
      <div class="assignmentFooter">
        <span ng-class="buttonClass" ng-click="eventAction(buttonText, assignment.id)" >
          {{buttonText}}
        </span>
      </div>
    </div>
  </div>
</div>
