{% extends "base.html" %}

{% block js %}
<script type="text/javascript" 
        src="/static/scripts/thirdparty/moment/min/moment-with-langs.min.js"/>
<script type="text/javascript"
        src="/static/scripts/thirdparty/underscore/underscore.js"></script>

<script type="text/coffeescript" 
        src="/static/scripts/assignments/directives/homeworkItemList.coffee"></script>
<script type="text/coffeescript" src="/static/scripts/assignments/app.coffee"></script>
{% endblock %}

{% block css %}
<link type="text/scss" rel="stylesheet" href="/static/styles/assignments.scss">
{% endblock %}

{% block appName %}, assignments{% endblock %}

{% block content %}
{% verbatim %}
<ul id="assignmentSelector" class="sidebar" ng-controller="DateSelect">
  <a id="today" ng-click="selectHomeworkRange('today', 'today')"><li>Today</li></a>
  <a id="tomorrow" ng-click="selectHomeworkRange('tomorrow', 'tomorrow')"><li>Tomorrow</li></a>
</ul>

<div id="assignments">
  <div homework-item-list container="assignments"
       button-text="'submit'" button-class="'submitAssignment'"></div>
  <div id="completedAssignments" ng-show="turnedInRaw.length"> 
    <div class="assignmentSectionHeader">
      Completed Assignments:
    </div>
    <div homework-item-list container="turnedIn"
         button-text="'revoke'" button-class="'revokeAssignment'"></div>
  </div>
</div>
{% endverbatim %}
{% endblock %}
