@import "base";

a {
  color: #008aff;
}

body {
  font-family: "Arial";
}

a:visited {
  color: #373737;
  color: #008aff;
}

#assignmentContent {
  padding: 10px 0px 0px 30px;
}

#assignments {
  float: left;
  margin-top: 30px;
  width: 70%;
  line-height: 24px;
  margin-left: 250px;
}

.class {
  width: 100%;
  margin: 0px 0 25px 20px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  float: left;
  clear: both;
  background: url("/resources/images/redline.png") repeat-y scroll 40px 0 #f9f8f0;
  -moz-box-shadow: 0px 0px 4px #9b9b9b;
  -webkit-box-shadow: 0px 0px 4px #9b9b9b;
  box-shadow: 0px 0px 4px #9b9b9b;
  padding: 10px 0px;
}

.classTitle {
  height: 55px;
  position: relative;
  float: left;
  width: 100%;
  padding-left: 60px;
  padding-top: 20px;
  color: #373737;
  font-size: 32;
}

.classDescription {
  padding: 0px;
  float: left;
  width: 100%;
  background: url("/resources/images/blueline.png") repeat scroll 0 0 transparent;
}

.checkArea {
  width: 25px;
  height: 25px;
  background: white;
  cursor: pointer;
  border: 2px solid #8f8f8f;
  margin: 0 auto;
}

.assignment {
  clear: both;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  float: left;
}

.assignmentTitle {
  font-size: 20px;
  color: #8e8e8e;
  text-align: center;
  padding: 3px;
  float: left;
  padding-left: 50px;
}

.assignmentDescription {
  margin-top: 3px;
  margin-left: 10px;
  width: 50%;
  text-align: left;
  color: #b4b4b4;
  font-size: 17px;
  float: left;
}

.dayEvent {
  color: black;
  font-size: 14px;
  margin-left: 15px;
  cursor: pointer;
}

.question {
  font-size: 14px;
}

.eventFiles {
  text-align: left;
  font-size: 16px;
  color: #373737;
  display: block;
  margin-right: 1%;
  width: 70%;
  float: left;
  line-height: 24px;
}

.eventFile {
  text-decoration: none;
  font-size: 14px;
  a {
    text-decoration: none;
    color: #008AFF;
    &:visited {
      text-decoration: none;
      color: #008AFF;
    }
  }
}


.assignmentHeader {
  float: left;
  clear: both;
  font-size: 18px;
  text-shadow: 3px 3px 1px #FFFFFF;
  color: #3a3a3a;
  margin-bottom: 10px;
}

.assignmentFooter {
  clear: both;
  text-align: right;
}

#assignmentSelector {
  li {
    border-top: #dfdcce 1px solid;
    border-right: #cfcbb7 solid 1px;
    border-bottom: #cac7b7 solid 1px;
    line-height: 32px;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 35px;
    &.current {
      background: #DFDDD2;
      border-right: none;
    }
  }
  a {
    cursor: pointer;
  }
}

.submitAssignment {
  @include button(green, 100px);
  margin-right: 100px;
}

.revokeAssignment {
  @include button(red, 100px);
  margin-right: 100px;
}

.assignmentSectionHeader {
  font-size: 18px;
  color: #3a3a3a;
  margin-bottom: 25px;
}
