@option compress: no;
@import "base";

#calendar {
  margin: 125px 20px 20px 20px;
  background: white;
  height: '40%';
  padding: 10px;
}

.tooltip {
  border-radius: 5px;
  border-color: black;
  background-color: rgba(7, 7, 6, 0.8);
  color: #fff;
  .qtip-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    padding: 8px 10px;
  }
}

.tooltipTitle img {
  margin-top: 2px;
  float: left;
}

.tooltipHeaderInfo {
  margin-left: 5px;
  float: left;
}

.tooltipDescription {
  padding-top: 15px;
  clear: both;
}

label {
  width: 100px;
  display: inline-block;
}

input {
  width: 250px;
  display: inline-block;
}

.formLine {
  padding: 0px 20px;
  input {
    border: none;
  }
}

.formControls {
  margin-top: 20px;
  text-align: right;
  padding-bottom: 30px;
  padding-right: 30px;
}

.button_cancel {
  @include button(red, 100px);
  margin-right: 10px;
}

.button_confirm {
  @include button(green, 100px);
}
