{% extends "base.html" %}

{% block js%} 
<script type="text/javascript" src="/static/scripts/tooltipster.js"></script>
<script type="text/javascript" src="/static/scripts/handlebars.js"></script>        
<script type="text/javascript" src="/static/scripts/calendar.js"></script>        
{% endblock %}        

{% block css %}        
<link type="text/scss" rel="stylesheet" href="/static/styles/calendar.scss" ></link>
<link type="text/scss" rel="stylesheet" href="/static/styles/tooltipster.scss" ></link>
{% endblock %}

{%block content %}
<div id="calendarViewSelect">
    <ul>
        <li onclick="loadView('month')">Month</li>
        <li onclick="loadView('week')">Week</li>
        <li>Day</li>
    </ul>
</div>

<div id="calendarToolBar">

  {# ADMIN CONTROLS #}
  
{% if request.user.groups.filter(name='admin').all() %}
  <span class="registrarTools">
    <select>
      <option >Mark Day As...</option>
      <option onclick="startTerm()">Beginning of Term</li>
      <option onclick="endTerm()" >End of Term</li>
      <option onclick="startRegistration()">Start of Registration</option>
      <option onclick="endRegistration()">End of Registration</option>
    </select>
  </span>
{% endif %}

 {# TEACHER CONTROLS #}

  Add: 
  <span onclick="newEvent('assignment')">
    <img src="/resources/images/calendar/document.png">
    Assignment
  </span>
  <span onclick="newEvent('test')">
    <img src="/resources/images/calendar/documentPencil.png">
    Test
  </span> 
  
  <span onclick="newEvent('lecture')">
    <img src="/resources/images/calendar/projector.png"> 
    Lecture
  </span>
</div>

{# empty calendar so the javascript has a target #}

<div id="calendar" todayyear="{{today.year}}" todaynumber="{{today.number}}" which="{{which}}"
     year="{{year}}" number="{{intMonth}}">
  unable to connect to server...
</div>

{% endblock %}
