<div id="calendar" todayyear="{{today.year}}" todaynumber="{{todayNumber}}" which="{{which}}" number="{{number}}" year="{{year}}" class="calendarWeek">
	<div id="calendarWeekGutter">
		{% for day,eventList in eventDict.items() %}
			<div class="calendarWeekDay" onclick="loadEvents('{{day}}')" id="{{day}}" {% if request.user.groups.filter(name='teacher') or request.user.groups.filter(name= 'super') %} ondragenter="return false" ondragover="return false" ondrop="eventDropMoveEvent(this, event)" {% endif %} >
				<div class="calendarWeekDayLabel" >
					{{loop.cycle('Sun, ', 'Mon, ', 'Tue, ', 'Wed, ', 'Thurs, ', 'Fri,','Sat, ')}} {{day.strftime("%b %d '%y")}}
				</div>
				<div class="calendarWeekEvents" {% if loop.first %}style="border-left: none;"{% endif %} >
					{% for event in eventList %}
						<div class="calendarWeekEvent" id="{{event.id}}" {% if request.user.groups.filter(name='teacher') or request.user.groups.filter(name= 'super') %} draggable="true" ondragstart="eventDrag(this, event)" {% endif %}>
							{{event.title}}
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>