<div ui-calendar="uiConfig.calendar" ng-model="events" id="syll_calendar">
loading calendar...
</div>

<modal-dialog show="selectedEvent" dialog-title="Details for {{selectedEvent.title}}" >
  <form id="eventForm">
    <div class="formLine">
      <label for="title">title:</label>
      <input type="text" ng-model="selectedEvent.title" name="title"/>
    </div>
    <div class="formLine">
      <label for="type">type:</label> 
      <select name="type" ng-model="selectedEvent.type">
        <option ng-value="assignment">assignment</option>
        <option ng-value="lecture">lecture</option>
        <option ng-value="meeting">meeting</option>
        <option ng-value="test">test</option>
      </select>
    </div>
    <div class="formLine">
      <label for="possiblePoints">possible points:</label> 
      <input type="text" ng-model="selectedEvent.possiblePoints" 
             name="possiblePoints"/>
    </div>
    <div class="formLine">&nbsp;</div>
    <div class="formLine">
      <label for="date">date:</label>
      <quick-datepicker ng-model="selectedEvent.start"></quick-datepicker>
      <span class="dateRangeEnd"  ng-if="isSelectedDayRange()" > 
        -  <quick-datepicker ng-model="selectedEvent.end"></quick-datepicker>
      </span>
    </div>
    <div class="formLine">&nbsp;</div>
    <div class="formLine">
      <label for="description">description:</label>
      <input type="textarea" ng-model="selectedEvent.description" 
             name="description"/>
    </div>
    <div class="formLine">
      <label for="class">Class:</label>
      <select ng-model="selectedEvent.classes">
        <option ng-repeat="class in classes" ng-value="class.id" 
                ng-selected="class.id == selectedEvent.classes">{{class.name}}</option>
      </select>
    </div>
  </form>
  <div class="formControls">
    <span class="button_cancel" ng-click="deselectEvent()">cancel</span>
    <span class="button_confirm" ng-click="applyChanges()">accept</span>
  </div>
</modal-dialog>
