// this is the syllabus calendar month view implemented as a jade template

#calendar( class="calendarMonth" which="{{which}}", number="{{number}}", year="{{year}}", )

  // calendar title and selector
  #calendarTitle
    span#prevMonthSelector
      img( src="/resources/images/calendar/prevArrow.png" , onclick="loadPrevCalendar()")
    {{monthName}} {{year}}
    span#nextMonthSelector
      img( src="/resources/images/calendar/nextArrow.png" , onclick="loadNextCalendar()")

  // calendar table
  table( cellpadding="0px", cellspacing="0px", width="100%", height="80%" )
    thead
      tr
        th.tableHeader Sunday
        th.tableHeader Monday
        th.tableHeader Tuesday
        th.tableHeader Wednesday
        th.tableHeader Thursday
        th.tableHeader Friday
        th.tableHeader Saturday
    tbody
      -for week in monthList
        tr
          // - var dayClass = ( {{day}} === {{intMonth}} ? 'calendarDay' : 'calendarDay other' )
          -for day in week
            td.calendarDay( id="{{day}}", onclick="selectDay('{{day}}')", valign="top" 
                            ondrop="eventDropMoveEvent(this, event)",
                            ondragover="event.preventDefault()" )
              .calendarDayStatus: {{day.day}}
              .calendarDayBody
                -for event in eventDict[day.__str__()]
                  div( id="event:{{event.id}}" title="{% include '/calendar/eventTooltip.html' %}", 
                      class="calendarEvent {{event.category}} tooltip", draggable="true", 
                      ondragstart="eventDrag(this,event)" )
                    {{event.title}}
              .calendarDayLabel
                -if day in groups
                  -for group in groups[day]
                    p(id="group:{{group[0]}}|{{group[1]}}") group {{group}} here
                -if day in termDates
                  -for term in termDates[day]
                    p(id="term:{{term[0]}}|{{term[1]}}") term {{term}} here
