{% extends "base.html" %}

{% block js%} 
<script type="text/javascript" src="/static/scripts/tooltipster.js"></script>
<script type="text/javascript" src="/static/scripts/handlebars.js"></script>        
<script type="text/coffeescript" src="/static/scripts/calendar.coffee"></script>        
{% endblock %}        

{% block css %}        
<link type="text/scss" rel="stylesheet" href="/static/styles/calendar.scss" ></link>
<link type="text/scss" rel="stylesheet" href="/static/styles/tooltipster.scss" ></link>
{% endblock %}

{%block content %}


{% endblock %}
