{% extends "base.html" %}

{% block css %}
<link type="text/scss" rel="stylesheet" href="/static/styles/myClasses.scss" ></link>
{% endblock %}

{% block content %}
<div id="myClassesGutter">
  <ul class="sidebar" ng-controller="sidebarCtrl">
    <a href="/myClasses/schedule">
      <li>
        <div class="liContainer">
          <img src="/resources/images/scheduleIcon.png"> 
          My Schedule
        </div>
      </li>
    </a>
    <a href="/myClasses/grades">
      <li>
        <div class="liContainer">
          <img src="/resources/images/clipboard.png"> 
          My Grades
        </div>
      </li>
    </a>
    <a href="/myClasses/catalog">
      <li>
        <div class="liContainer">
          <img src="/resources/images/searchIcon.png"> 
          Catalog
        </div>
      </li>
    </a>
    <li class="sidebarLabel">
      classes
    </li>
    <a ng-repeat="class in myClasses" href="/myClasses/classPage?id={{class.id}}">
      <li>
        {{class.name}}
      </li>
    </a>
  </ul>
  <div id="myClassesContent">
    {% block myClasses_content %} {% endblock %}
  </div>
</div>
{% endblock %}
