<span id="myScheduleContent">
  <span id="myScheduleHeader">
    {{term.name}}&nbsp;{{term.start.year}}
  </span>
  
  <div id="calendar" ui-calendar="weeklyCalendar" ng-model="events" >&nbsp;</div>
  
  <aside id="scheduleSelector">
    <div id="selectorTitle">
      Pick a term
    </div>    
    <div class="selectorYear" ng-repeat="(year, terms) in termList">
      <span> 
        {{year}}
      </span> 
      <span ng-repeat="term in terms" ng-click="selectTerm(term.name, year)">
        {{term.name}}
      </span>
    </div>
  </aside>
</span>
