{% extends "myClasses/home.html" %}

{% block js %}

{% endblock %}

{% block appName %}, mySchedule{% endblock %}

{% block myClasses_content %}
<div id="alertArea">&nbsp;</div>

<div weekly-schedule> </div>

<div id="myScheduleHeader">
    {{term.name}} {{term.start.year}}
</div>
<div id="calendar"></div>

<div id="myScheduleSideBar">
    <div id="scheduleSelector" style="float: left;">
	<div id="selectorTitle">
        Pick a term
    </div>    
	<div class="selectorYear" >
	  <span> 
            {{year}}
          </span> 
          {% for name in names %}
          <span onclick="refreshCalendar('{{name}}',{{year}})"></span>
          {% endfor %}
	</div>
    </div>
</div>
{% endblock %}
