<div id="userProfile">
  <div id="userName">
    {{user.first_name}} {{user.last_name}}
  </div>
  <div id="userContent">
    <span id="userInfo">
      <div class="line">
        <span class="label">Username</span></label> {{user.username}}
      </div>
      <div class="line">
       <span class="label"> Email </span> {{user.email}}
      </div>
      <div class="line">
         <span class="label"> Role </label>
      </div>
    </span>
    <span id="exemptionForm">&nbsp;</span>
    <span id="userData">
      <div id="userExemptions">
        <div class="line title">
          Major Requirement Exemptions
        </div>
        {% for exemption in exemptions %}
        <div class="line exemption" id="exemption{{exemption.id}}">
          Replace 
          <select>
            <option value=0>Required Course </option>
            {% for course in courses %}
            <option {% if course[0].id == exemption.profile.id  %} selected {% endif %}> {{course[0].interest.abbrv}} {{course[0].number}} </option>
            {% endfor %}
          </select>
          with 
          <select onchange="updateCourseNumbers({{exemption.id}})">
            <option value=0 > none </option>
            {%for interest in interests%}
            <option {%if interest.id == exemption.getReplacement().interest.id %}selected{% endif %} value={{interest.id}}>
              {{interest.abbrv}}
            </option>
            {%endfor%}
          </select>
          <select class="courseNumbers">
            {%for course in exemption.getReplacement().interest.courses.all() %}
            <option>{{course.number}}</option>
            {% endfor %}
          </select>
        </div>
        {% endfor %}
        <div class="line exemption">
          Replace 
          <select>
            <option value=0>Required Course </option>
            {% for course in courses %}
            <option> {{course[0].interest.abbrv}} {{course[0].number}} </option>
            {% endfor %}
          </select>
          with 
          <select>
            <option selected > none </option>
            {%for interest in interests%}
            <option>
              {{interest.abbrv}}
            </option>
            {%endfor%}
          </select>
          <select class="exemptionNumber">
            <option>--</option>
          </select>
        </div>
      </div>
      <div class="line"></div>

      <div id="addCodes">
        <div class="line title">
         Outstanding Add Codes
        </div>
        {% for code in addcodes %}
        <div class="line code">
          {{code.profile}}
        </div>
        {% endfor %}
      </div>

      </span>
    </span>
  </div>
  <div id="profileToolbar">
    <span id="submitForm">submit</span>
  </div>
</div>
