//- -*- Jade -*-
//- -*- coding: utf-8 -*-
//-
//- alec aivazis
//- (c) {project.span} all rights reserved
//-

extends base

append js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react-with-addons.js" type="text/javascript")

append content
    {{ component }}
    {{ component.render_js }}

//- end of file