//- -*- Jade -*-
//- -*- coding: utf-8 -*-
//-
//- alec aivazis
//- (c) {project.span} all rights reserved
//-

extends base

- load staticfiles

append content
    script(src="https://use.fonticons.com/ce4e0ad3.js")
    script(src="{% static 'build/app.js' %}")

//- end of file
