<div id="formTitle"> Edit {{event.title}}</div>

<form method="POST" action="/calendar/editEvent/" target="invisible" enctype="multipart/form-data">
    <input style="display:none" name="year" value="{{event.date.year}}">
    <input style="display:none" name="month" value="{{event.date.month}}">
    <input style="display:none" name="day" value="{{event.date.day}}">
    <input style="display:none" name="id" value="{{event.id}}">
    <input style="display:none" name="category" value="{{event.category}}">   
    <input style="display:none" name="deletedFiles" value="">
        
    <div class="formFieldWrapper">       
        <label for="editEventtitle">Title: </label>
        <input id="editEventTitle" name="title" value="{{event.title}}">
    </div>
    
    <div class="formFieldWrapper">
        <label for="editEventCategory">Category: </label>
        <input id="editEventCategory" name="subCategory" value="{% if event.metaData.filter(key='subCategory') %}{{event.metaData.filter(key='subCategory')[0].value}}{%endif%}">
    </div>
    
    <div class="formFieldWrapper">
        <label for="editEventDescription">Description: </label>
        <textarea id="editEventDescription" cols="26" rows="10" style="resize: none;" name="description">{{event.description}}</textarea>
    </div>
    
    {% if event.category == 'assignment' %}
    <div class="formFieldWrapper">
        <label for="possiblePoints">Possible Points: </label>
        <input id="possiblePoints" name="possiblePoints" value="{% if event.metaData.filter(key = 'possiblePoints')%}{{event.metaData.get(key = 'possiblePoints').value}}{%else%}{%endif%}">
    </div>
    {% endif %}
    
    {% if event.category == 'lecture' %}
    <div class="formFieldWrapper">
        <label for="associatedReading">Assoc. Reading: </label>
        <input id="associatedReading" name="associatedReading" value="{% if event.metaData.filter(key = 'associatedReading')%}{{event.metaData.get(key = 'associatedReading').value}}{%else%}{%endif%}">
    </div>
    {% endif %}

    <div class="formFieldWrapper">
        <label for="time">Date: </label>
        <input id="editEventDate" name="date" value="{{event.date.strftime('%x')}}">
    </div>
    
    <div class="formFieldWrapper">
        <label for="time">Time: </label>
        <input id="editEventTime" name="time" value="{{event.time.strftime('%H:%M')}}">
    </div>
    
    <div class="formFieldWrapper">
        <label>Uploaded Files:</label>
        <span class="eventFiles" style="width: 222px">
        {% for file in event.files.all() %}
            <div class="eventFile"><a class="file" href="/{{oz.path.relpath(file.fileName, fileRoot)}}">{{oz.path.basename(file.fileName)}}</a> <a title="delete" onclick="removeFileUpload(this, {{file.id}})">X</a><a title="re-upload" onclick="reupload({{file.id}})">R</a></div>     
        {% endfor %}
        {% import "macros.html" as macros%}{{macros.multi_file()}}
        </span>
    </div>
  
    <div style="float: right; clear: both;" ><input id="newEventFormSubmit"  type="submit" value="Submit"></input></div>
    <iframe id="invisible" style="display: none; width: 1px; height: 1px;" src="" name="invisible"></iframe>
</form>