{% extends "base.html" %}

{% block js %}
<script type="text/coffeescript" src="/static/scripts/assignments/app.coffee"></script>
<script type="text/javascript" 
        src="/static/scripts/thirdparty/moment/min/moment-with-langs.min.js"/>
{% endblock %}

{% block css %}
<link type="text/scss" rel="stylesheet" href="/static/styles/assignments.scss">
{% endblock %}

{% block appName %}, assignments{% endblock %}

{% block content %}
<ul id="assignmentSelector" class="sidebar">
  <a id="today" ng-click="select('today')"><li>Today</li></a>
  <a id="tomorrow" ng-click="select('tomorrow')"><li>Tomorrow</li></a>
</ul>

{% endblock %}
