// -*- Stylus -*-
// -*- coding: utf-8 -*-
//
// alec aivazis
// (c) {project.span} all rights reserved
//

// this file describes the default style for syllabus

.cf:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.cf { display: inline-block; }
/* start commented backslash hack \*/
* html .cf { height: 1%; }
.cf { display: block; }

// end of file
