<div id="gradingScaleSelectBody">
<div class="arrow-up"></div>
    {% for category in scale.gradingCategories.all().order_by('-lower') %}
    <div class="category">
        <input class="categoryInput categoryLower" type="text" {% if loop.last %} value="0" disabled {% else %} value="{{category.lower}}" {% endif %} >
         to
        <input class="categoryInput categoryUpper" type="text" {% if loop.first %} value="100" disabled {% endif %} >
        <img src="/resources/images/gradeBook/rightArrow.png">
        <input class="categoryInput categoryValue" type="text" value="{{category.value}}">
    </div>
    {% endfor %}
</div>

<ul id="gradingScaleButtons">
    <li class="closeWidget" id="closeGradingScaleSelect">close</li>
    <li class="submitWidget" onclick="applyGradingScale()">apply</li>    
</ul>