<!-- Grading Scale Modal Window -->
<div id="gradingScaleSelect">
  <div class="arrow-up"></div>
  <!-- grading category -->
  <div class="category" ng-repeat="category in gradingScale.categories">
    <span class="deleteGradingScaleCategory"
          ng-click="deleteGradingScaleCategory(category.lower)">
      x
    </span>
    <input class="categoryInput categoryLower" type="text" ng-model="category.lower"
           ng-change="updateUppers()"  ng-disabled="$last" ng-value="{{category.lower}}">
    <input class="categoryInput categoryUpper" type="text" ng-change="updateLowers()"
           ng-model="category.upper" ng-disabled="$first">
    <img src="/resources/images/gradeBook/rightArrow.png">
    <input class="categoryInput categoryValue" type="text" ng-value="{{category.value}}"
           ng-model="category.value">
    <span class="addGradingScaleCategory"
          ng-click="addGradingScaleCategory(category.lower)">
      +
    </span>
  </div>
  <!-- modal control buttons -->
  <ul id="gradingScaleButtons" ng-show="showGradingScale">
    <li class="closeWidget" id="closeGradingScaleSelect" ng-click="showGradingScale = false">
      close
    </li>
    <li class="submitWidget" ng-click="applyScale()">apply</li>
  </ul>
</div>
