<div id="gradebookContainer">
  <table id="gradebookTable" cellspacing="0" cellpadding="0">
    <thead id="gradebookHeaders">
      <th id="gutterLabels">
        category: <br>
        possible points: <br>
        weight:
      </th>
      <th id="totalGradeLabel"> 
        Grades
      </th>
      <!-- a header for each event -->
      <th ng-repeat="event in events" class="eventLabel">
        <div class="eventTitle">
          {{event.title}}
        </div>
        <input class="eventCategory" ng-model="event.category"
               ng-change="updateEventCategory(event.id)"></input>
        <br>
        <input class="eventPossiblePoints" ng-model="event.possiblePoints"
               ng-change="updatePossiblePoints(event.id)"></input>
        <input class="eventWeight" ng-model="event.weight" disabled="true"></input>
      </th>
    </thead>
    <tbody>
      <!-- a row for each student -->
      <tr ng-repeat="student in students" ng-class-even="'even'" ng-class-odd="'odd'" 
          class="gradebookStudent">
        <td class="studentName">
          {{student.name}}
        </td>
        <!-- students grade in the class -->
        <td class="totalGrade">
          <span class="totalGradeLetter" ng-show="student.totalGrade != -1">
            {{student.totalGrade.letter}}
          </span>
          <span class="totalGradeScore" ng-show="student.totalGrade != -1">
            {{student.totalGrade.score}}
          </span>
          <span 
             </td>
        <!-- an entry for each event to show the students grade -->
        <td ng-repeat="event in events" class="entry" ng-init="show_a = false"
            ng-mouseenter="show_a = true"  ng-mouseleave="show_a=false"
            ng-class="{onTime : gradebook[student.id][event.id].onTime,
                      late : !gradebook[student.id][event.id].onTime}">
          <!-- icon to indicate a download is availible as well as act as the link -->
          <a ng-show="show_a" ng-if="gradebook[student.id][event.id].hasUploads"
             href="/downloadSubmission/?event={{event.id}}&student={{student.id}}" >
            <img src="/resources/images/downloadArrow.png"
                 ng-show="gradebook[student.id][event.id].onTime" /> 
            <img src="/resources/images/downloadArrowWhite.png"
                 ng-hide="gradebook[student.id][event.id].onTime" />
          </a>
          <!-- input for changing grades -->
          <input ng-model="gradebook[student.id][event.id].grade" 
                 ng-change="updateGrade(student.id, event.id)"></input>
        </td>
        
      </tr>
</thead>
</table>
</div>
