<table id="gradebookTable" cellspacing="0" cellpadding="0">
  <thead id="gradebookHeaders">
    <th id="gutterLabels">
      category: <br>
      possible points: <br>
      weight:
    </th>
    <th id="totalGradeLabel"> 
      Grades
    </th>
    <!-- a header for each event -->
    <th ng-repeat="event in events" class="eventLabel">
      <div class="eventTitle">
        {{event.title}}
      </div>
      <input class="eventCategory" ng-model="event.category"
             ng-change="updateEventCategory(event.id)"></input>
      <br>
      <input class="eventPossiblePoints" ng-model="event.possiblePoints"
             ng-change="updatePossiblePoints(event.id)"></input>
      <input class="eventWeight" ng-model="event.weight" disabled="true"></input>
    </th>
    <!-- a row for each student -->
    <tr ng-reapeat="student in gradebook" class="">

    </tr>
  </thead>
</table>
