{% extends "base.html" %}

{% block css %}
<link type="text/scss" rel="stylesheet" href="/static/styles/gradebook.scss" ></link>
<link type="text/scss" rel="stylesheet" href="/static/styles/gradebooktable.scss" ></link>
<link type="text/scss" rel="stylesheet" href="/static/styles/m2m.scss" ></link>
{% endblock %}       

{% block js %}
<script src="/static/scripts/flot/jquery.flot.min.js"></script>
<script src="/static/scripts/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="/static/scripts/angular.min.js"></script>
<script type="text/javascript" src="/static/scripts/underscore-min.js"></script>

<script type="text/javascript" src="/static/scripts/m2m.js"></script>
<script type="text/javascript" src="/static/scripts/gradebook/app.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
  
  $('.gradebookClass').click(function(event){
  selectClass(this, $(this).attr('id'));
  });
  {% if selectedClass is defined %}$('#{{selectedClass}}').trigger('click');{% endif %}});
</script>
{% endblock %}

{% block content %}
{% raw %}

<div id="gradebook" ng-app="gradebook-app">

  <!-- Sidebar: select a class to view the appropriate gradebook -->
  <aside id="gradebookClassSelect" class="sidebar" ng-controller="ClassSelect" >
    <ul>
      <li ng-repeat="class in classes"  id="{{class.id}}" class="gradebookClass"
          ng-click="loadGradeBook(class.id)">
          <!-- <img onclick="viewSections(event, {{class.id}})" 
               src="/resources/images/sidebarArrow.png"> -->
          {{class.name}}
      </li>
    </ul>
  </aside>

  <!-- gradebook controller: an organized view of the grades -->
  <article ng-controller="gradebook-view" id="gradebookContent">
    <!-- message when no book is selected -->
    <div id="emptyMessage" ng-hide="gradebook_id">
      Please select a class to view its gradebook
    </div>
    
    <!-- content -->
    <div id="gradebook" ng-show="gradebook_id" >
      <!-- breadcrumb -->
      <span id="gradebookBreadCrumbs" class="{{gradebook_id}}">
        {{breadcrumb[0]}}
      </span>

      <!-- toolbar -->
      <span id="gradebookToolbar">
        <span class="gradebookTool" id="scaleTool" ng-click="toggleGradingScale()">
          <img style="margin-top: 6px" src="/resources/images/icons/clipboard.png">
          Grading Scale
        </span>

        <!--
        <span class="gradebookTool" id="isolate" onclick="isolateHighlightedStudent()">
          Isolate Highlighted Student 
        </span>
        <span class="gradebookTool" id="unisolate" onclick="showAllStudents()"> 
          Show All Students
        </span>
        -->
      </span>
      
      <!-- controls -->
      <gsc ng-show="showGradingScale" ng-init="showGradingScale = false"></gsc>
      
      <!-- table -->
      <div gradebook></div>

    </div>
  </article>
</div>

{% endraw %}
{% endblock %}
