{% extends "base.html" %}

{% block css %}
<link type="text/scss" rel="stylesheet" href="/static/styles/gradebook.scss" ></link>
<link type="text/scss" rel="stylesheet" href="/static/styles/gradebooktable.scss" ></link>
<link type="text/scss" rel="stylesheet" href="/static/styles/m2m.scss" ></link>
{% endblock %}       

{% block js %}
<script src="/static/scripts/thirdparty/flot/jquery.flot.js"></script>
<script src="/static/scripts/thirdparty/flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="/static/scripts/thirdparty/angular/angular.min.js"></script>
<script type="text/javascript"
        src="/static/scripts/thirdparty/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript"
        src="/static/scripts/thirdparty/underscore/underscore.js"></script>

<script type="text/javascript" src="/static/scripts/m2m.js"></script>

<script type="text/coffeescript"
        src="/static/scripts/gradebook/directives/gradebook.coffee"></script>
<script type="text/coffeescript"
        src="/static/scripts/gradebook/directives/gsc.coffee"></script>
<script type="text/coffeescript"
        src="/static/scripts/gradebook/directives/wc.coffee"></script>
<script type="text/coffeescript"
        src="/static/scripts/gradebook/directives/utilities.coffee"></script>
<script type="text/coffeescript" src="/static/scripts/gradebook/app.coffee"></script>
{% endblock %}

{% block appName %}gradebook-app{% endblock %}

{% block content %}
{% verbatim %}

<div id="gradebook">

  <!-- Sidebar: select a class to view the appropriate gradebook -->
  <aside id="gradebookClassSelect" class="sidebar" ng-controller="ClassSelect">
    <ul>
      <li ng-repeat="class in classes"  id="{{class.id}}" class="gradebookClass"
          ng-click="loadGradeBook(class.id)">
          <!-- <img onclick="viewSections(event, {{class.id}})" 
               src="/resources/images/sidebarArrow.png"> -->
          {{class.name}} 
      </li>
    </ul>
  </aside>

  <!-- gradebook controller: an organized view of the grades -->
  <article ng-controller="gradebook-view" id="gradebookContent">
    <!-- message when no book is selected -->
    <div id="emptyMessage" ng-hide="gradebook_id">
      Please select a class to view its gradebook
    </div>
    
    <!-- content -->
    <div id="gradebook" ng-show="gradebook_id">
      <!-- breadcrumb -->
      <span id="gradebookBreadCrumbs" class="{{gradebook_id}}">
        {{breadcrumb[0]}} {{count}}
      </span>

      <!-- toolbar -->
      <span id="gradebookToolbar">
        <!-- statistics -->
        <span class="gradebookTool" ng-click="showUtilities = !showUtilities"
              ng-init="showUtilities = false">
          <img src="/resources/images/icons/stats.png">
          Graphs
        </span>
        <!-- toggle grading scale -->
        <span class="gradebookTool" id="scaleTool" ng-click="toggleGradingScale()">
          <img style="margin-top: 6px" src="/resources/images/icons/clipboard.png">
          Grading Scale
        </span>
        <!-- toggle weight control -->
        <span class="gradebookTool" ng-click="toggleWeightControl()">
          <img src="/resources/images/icons/scale.png">
          Assign Weights
        </span>
        <!--
        <span class="gradebookTool" ng-click="isolateStudent = true"
              ng-show="isolateStudent = false">
          Isolate Highlighted Student 
        </span>
        <span class="gradebookTool" ng-click="isolateStudent = false"
              ng-show="isolateStudent = true"> 
          Show All Students
        </span>
        <span class="gradebookTool" ng-init="isolateStudent=false"> 
          {{isolateStudent}} 
        </span>
        -->
      </span>
      
      <!-- controls -->
      <div gsc ng-show="showGradingScale" ng-init="showGradingScale = false"></div>
      <div wc ng-show="displayWeightControl" ng-init="displayWeightControl = false"></div>
      <div utilities></div>
      
      <!-- gradebook table -->
      <div gradebook ng-hide="hideGradebook" ng-init="hideGradebook = false"></div>
      <div ng-show="hideGradebook" utility-view></div>

    </div>
  </article>
</div>

{% endverbatim %}
{% endblock %}
