<div id="weightsWidget">
  <div class="arrow-up"></div>
  <div id="weightsBody">
    <!-- a category for each weight already assigned -->
    <div class="weightCategory" ng-repeat="category in weights.categories">
      <input size="5" ng-model="category.category", ng-blur="addCategory()">
      <img src="/resources/images/gradeBook/rightArrow.png" style="margin-left: 2px;"/>
      <input size="1" ng-model="category.percentage" ng-blur="addCategory()"> %
    </div>
    <!-- and an empty one to add additional groups -->
    <div class="weightCategory">
      <input size="5" ng-model="newCategory" ng-blur="addCategory()">
      <img src="/resources/images/gradeBook/rightArrow.png" style="margin-left: 2px;"/>
      <input size="1" ng-model="newPercentage" ng-blur="addCategory()"> %
    </div>
  </div>
  <!-- weight control controls -->
  <div id="weightsButtons">
    <a ng-click="toggleWeightControl()" class="closeWidget">
      cancel
    </a>
    <a class="submitWidget" style="right: 0;" ng-class="{disabled: canSubmitWidget == false}"
       ng-init="canSubmitWidget = true" ng-click="updateWeights()"
       >
      submit
    </a>
  </div>
</div>
