{% extends "myClasses/home.html" %}

{% block MChead %}
    <script type='text/javascript' src='/resources/scripts/grades.js'></script>
{% endblock %}

{% block MCbody %}
<div id="myGradesTitle">My Grades</div>
<div id="units">Units Completed: {{request.user.unitsCompleted()}} Units Transfered: {{request.user.unitsCompleted()}} </div>
{% for year, classes in grades.items() %}
<div class="gradesYear">
    <div class="yearTitle">{{year}}</div> 
    {% for qlass in classes %}
    <div class="myGradesClass">
        <span class="grade">{{qlass.totalGrade(request.user.id)[0]}}</span>
        <span class="gradesClassName">{{qlass.profile.interest}} {{qlass.profile.number }} - {{qlass.profile.name}}</span>
        
    </div>
    {% endfor %}
</div>
<div id="requirements">
    <div id="requirementsHeader">
        Graduation Requirements
    </div>
    <div class="requirementsList">
        {% for college in colleges %}
        <div class="requirementTitle">GE Requirements</div>
        <ul>
        {% for requirement in college.requirements.all() %}
            <li class="requirement"> <img {%if request.user.satisfiesRequirement(requirement) %}src="/resources/images/tick.png"{% else %}src="/resources/images/tickGreyedOut.png"{% endif %}>Area {{requirement.abbrv}} - {{requirement.name}}</li>
        {% endfor %}
        </ul>
        {% endfor %}
    </div>
    <div class="requirementsList">
        {% for major in request.user.major.all() %}
        <div class="requirementTitle">Department Requirements</div>
        <ul>
        {% for requirement in major.major.all() %}
            <li class="requirement"> <img {%if request.user.satisfiesRequirement(requirement) %}src="/resources/images/tick.png"{% else %}src="/resources/images/tickGreyedOut.png"{% endif %}>
            {% for profile in requirement.courses.all() %}
            {{profile.interest}} {{profile.number}} {% if not loop.last %}{% if requirement.courses.count() == requirement.number %}, {% else %} or {%endif%}{% endif %}
            {% endfor %}
            </li>
        {% endfor %}
        </ul>
        </div>
        {% endfor %}
        {% if request.user.canGraduate() %}
        <div style="text-align: center;">
            <span id="declareGraduation" onclick="declareCandidacy()">
                Declare Candidacy
            </span>
        </div>
        {% endif %}
    </div>
   
</div>
{% endfor %}
{% endblock %}
