//- -*- Jade -*-
//- -*- coding: utf-8 -*-
//-
//- alec aivazis
//- (c) {project.span} all rights reserved
//-

extends base

- load staticfiles

append js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")

append content
    script(src="https://use.fonticons.com/ce4e0ad3.js")
    script(src="{% static 'build/app.js' %}")

//- end of file
