{% extends "base.html" %}

{% block js %}<script src="/resources/scripts/assignments.js"></script>{% endblock %}
{% block css %}
{% compress css %}
<link type="text/scss" rel="stylesheet" href="/static/styles/assignments.scss" ></link>
{% endcompress %}
{% endblock %}


{%block content %}
		
<div id="assignmentContent">
{% if bin %}
<div id="assignments">
		{% for label, assignments in bin.items()%}
		{% if assignments or label != 'Late Assignments'  %}
<span id="{{label.replace(' ' ,'')}}">
<span class="assignmentsHeader">{{label}}:</span>{% if assignments%}
{% for section,eventList in assignments.items() %}
	<div class="class" id="class{{section.id}}">
		<div class="classTitle">
			<div class="classTitleName">
				{{section.qlass.profile.interest}} {{section.qlass.profile.number}}
			</div>
			<div class="section">
				section {{section.name}}
				
			</div>
		</div>
		<div class="classDesc">
			{% for event in eventList %}
			<div class="assignment">
				<span class="assignmentTitle">
						<span style="width: 20%; float: left; text-align: center;">
								
								<div class="checkArea" id="check{{event.id}}" {% if event.id in completed %}checked='true' style="background: url(/resources/images/checkmark.png);"{% endif %} onclick="completeEvent(this, {{event.id}},'{{request.user}}')" onselect="return;" ></div>
						</span>
						<span style="width: 80%; float: left;">
						{{event.title}}
						{% if label == 'Late Assignments'%}
						<div class="ignore">
								<a onclick="ignoreEvent(this, {{event.id}}, '{{request.user}}')">Ignore</a>
						</div>
						{% endif %}
						{% if uploads[event.id] %}
						<span class="turnedInHeader">Uploaded:</span>
						<div class="turnedIn">
								
								{% for upload in uploads[event.id]%}
										{{oz.path.basename(upload.file)}}<br>
								{% endfor %}
								
								<div id="turnInFormContainer{{event.id}}"{% if event.id in completed %}style="display: none;"{% endif %}>
										<form action="/myhomework/turnIn/?event={{event.id}}" id="turnInForm{{event.id}}" method="POST" target="invisible" enctype="multipart/form-data">
												<span onclick="$(this).siblings('#fileSubmit{{event.id}}').trigger('click');" class="turnIn">
														Upload Another Document
												</span>
												<input onchange="selectedFile(this)" style="display: none;" id="fileSubmit{{event.id}}" type=file name="files">
												<span class="turnInSubmit" style="display: none;" onclick="document.forms['turnInForm{{event.id}}'].submit();"> upload </span>
										</form>
								</div>
						</div>
						{% else %}
						<div class="turnedIn">
								<div id="turnInFormContainer{{event.id}}" {% if event.id in completed %}style="display: none;"{% endif %}>
										<form action="/myhomework/turnIn/?event={{event.id}}" id="turnInForm{{event.id}}" method="POST" target="invisible" enctype="multipart/form-data">
												<span onclick="$(this).siblings('#fileSubmit{{event.id}}').trigger('click');" class="turnIn">
														Upload Document
												</span>
												<input onchange="selectedFile(this)" style="display: none;" id="fileSubmit{{event.id}}" type=file name="files">
												<span class="turnInSubmit" style="display: none;" onclick="document.forms['turnInForm{{event.id}}'].submit();"> upload </span>
										</form>
								</div>
						</div>
				{% endif %}
						</span>
						
						
				</span>
				<div class="assignmentDesc">
						 <span>{{event.description | safe}}</span>
				</div>
				{% if event.files.all() %}
						<div class="eventFiles">
								<span class="eventFilesHeader">Posted Files:</span>
								{% for file in event.files.all() %}
										<span class="eventFile"><a href="/{{oz.path.relpath(file.fileName, fileRoot)}}">{{oz.path.basename(file.fileName)}}</a></span> 
								{% endfor %}
						</div> {% endif %}
				
			</div>
			{% endfor %}
		</div>
	</div>
	
{% endfor %}
{%else%}
		<div class="noAssignments">none</div>
{% endif %}
{% endif %}
</span>
{% endfor %}
	</div>
	<iframe id="invisible" style="display: none; width: 1px; height: 1px;" src="" name="invisible"></iframe>
{% else %}
none!
{% endif %}


{% endblock %}
